<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>List of Reservations</title>
</head>
<body>

<center><h1 >Display All Reservations</h1></center>
<div class="container" my-3>
    <a th:href ="@{/Reservation}" class="btn btn-primary btn-sm mb-3"> add Reservation </a>

    <br>
    <br>
    <br>
    <table border="1" class="table table-striped table-responsive-md">

        <thead>
        <tr>
            <th>ReservationId</th>
            <th>customerId</th>
            <th>carId</th>
            <th>branchId</th>
            <th>bookingDate</th>
            <th>dateTo</th>
            <th>dateFrom</th>
            <th>totalCost</th>
            <th>statusId</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="reservation:${listReservations}">
            <td th:text= "${reservation.ReservationId}">
            <td th:text= "${reservation.customerId}">
            <td th:text= "${reservation.carId}">
            <td th:text= "${reservation.branchId}">
            <td th:text= "${reservation.bookingDate}">
            <td th:text= "${reservation.dateTo}">
            <td th:text= "${reservation.dateFrom}">
            <td th:text= "${reservation.totalCost}">
            <td th:text= "${reservation.statusId}">

            <td><a th:href="@{/showFormForUpdate/{reservationId}(reservationId=${reservation.reservationId})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteReservation/{reservationId}(id=${reservation.reservationId})}" class="btn btn-danger">Delete</a>
        </tbody>
        </tr>

    </table>
</div>
</body>

</html>